// _variables.scss

// Colores
$primary-color: #f87c58;
$title-color: #db8873;


// Colores modo claro
$bg-primary-color-light: #eff9f8;
$bg-secondary-color-light: #dbecf3;
$text-color-light: #333333;

// Colores para el modo oscuro
$bg-primary-color-dark: #333647;
$bg-secondary-color-dark: #282a39;
$text-color-dark: #EAEAEA;

// Tipografía
$font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$heading-font-size: 3rem;
$subheading-font-size: 2rem;
$text-font-size: 1rem;

// Espaciado
$base-spacing: 1rem;
$small-spacing: 0.5rem;
$large-spacing: 2rem;

// Bordes y sombras
$border-radius: 4px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// Variables de modo
:root {
  --primary-color: #{$primary-color};
  --title-color: #{$title-color};


  --bg-primary-color: #{$bg-primary-color-light};
  --bg-secondary-color: #{$bg-secondary-color-light};
  --text-color: #{$text-color-light};

  --font-family: #{$font-family};
  --base-font-size: #{$base-font-size};
  --heading-font-size: #{$heading-font-size};
  --subheading-font-size: #{$subheading-font-size};
  --text-font-size: #{$text-font-size};

  --base-spacing: #{$base-spacing};
  --small-spacing: #{$small-spacing};
  --large-spacing: #{$large-spacing};

  --border-radius: #{$border-radius};
  --box-shadow: #{$box-shadow};
}

[data-theme="dark"] {
  --bg-primary-color: #{$bg-primary-color-dark};
  --bg-secondary-color: #{$bg-secondary-color-dark};
  --text-color: #{$text-color-dark};
}

// Estilos base
body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

// Tipografía
h1 {
  font-size: var(--heading-font-size);
  margin-bottom: var(--base-spacing);
}

h2 {
  color: var(--title-color);
  font-size: var(--subheading-font-size);
  margin-bottom: var(--small-spacing);
  padding: var(--large-spacing) 0; 
}

p {
  font-size: var(--text-font-size);
  line-height: 1.6;
}

// Botones
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--small-spacing) var(--base-spacing);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
  }
}